<div id="chat-container">
<div id="chat-window">
<h2>Password reset error</h2>
<p>New password must be different from previous password.</p>
<button onClick="location.href = '/resetPassword' ">Return</button>
</div>
</div>