<div id="chat-container">
<div id="chat-window">
<h2>Register error</h2>
<p>User/email already exist, please try another email.</p>
<button onClick="location.href = '/login' ">LOGIN</button>
</div>
</div>