<div id="chat-container">
<div id="chat-window">
<h1 style="text-align: center;">LOGIN</h1>
<div id="output">
    <div id="chat-window">
<form action="api/users/login" method="post">
    Email: <input type="email" name="email" id="email"/>
    Password: <input type="password" name="password" id="password"/>
    <br>
    <button type="submit" value="LOGIN">LOGIN</button>
    <br>
</form>
<br>

<div id="output">
        <div id="chat-window">
        <a href="/profile-github"><button>Github Login</button></a>
        <br>
        <br>
        <button onclick="location.href = '/resetPasswordMail'">Forgot password?</button>
        </div>
        
</div>


</div>
</div>
<h2 style="text-align: center;" >New user?</h2>
<button onclick="location.href = '/register'">Register</button>
</div>
</div>