<div id="chat-container">
    <div id="chat-window">
        <div>
            <div id="output"></div>
        </div>
    </div>
    <button id="send">Previous page</button><button id="delete">Next page</button>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="js/productsIndex.js" charset="utf-8"></script>