<div id="chat-container">
<div id="chat-window">
<h1 style="text-align: center;">Reset password</h1>
<div id="output">
    <div id="chat-window">
<form action="api/users/updatePass" method="post">
    Email: <input type="email" name="email" id="email" required/>
    New Password: <input type="pass" name="newPass" id="newPass" required/>
    <br>
    <button type="submit" value="SEND">SEND</button>
</form>
</div>
</div>
</div>
</div>